<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
 
<p> Original Image </p>
<hr />
<%= image_tag @user.avatar.url %>
<br/>
<p> Large Image </p>
<hr />
<%= image_tag @user.avatar.url(:large) %>
<br/>
<p> Medium Image </p>
<hr />
<%= image_tag @user.avatar.url(:medium) %>
<br/>
<p> Thumbnail Image </p>
<hr />
<%= image_tag @user.avatar.url(:thumb) %>
<br/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
